/.bundle/
/.yardoc
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/
/doc/include.rb

.reek.todo

# rspec failure tracking
.rspec_status

log.log
.byebug_history
.rubocop-https---raw-githubusercontent-com-kspurgin-code-quality-main-configurations-rubocop-standard-override-yml
