---
http_interactions:
- request:
    method: get
    uri: https://anthro.dev.collectionspace.org/cspace-services/personauthorities?pgNum=0&pgSz=1&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AYW50aHJvLmNvbGxlY3Rpb25zcGFjZS5vcmc6QWRtaW5pc3RyYXRvcg==
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>1</pageSize><itemsInPage>1</itemsInPage><totalItems>2</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|rev|shortIdentifier|sas|displayName|vocabType</fieldsReturned><list-item><csid>a67671b9-0fdf-4af3-9e04</csid><uri>/personauthorities/a67671b9-0fdf-4af3-9e04</uri><refName>urn:cspace:anthro.collectionspace.org:personauthorities:name(ulan_pa)'ULAN
        Persons'</refName><updatedAt>2021-11-18T02:24:50.454Z</updatedAt><workflowState>project</workflowState><rev>0</rev><shortIdentifier>ulan_pa</shortIdentifier><displayName>ULAN
        Persons</displayName><vocabType>PersonAuthority</vocabType></list-item></ns2:abstract-common-list>
  recorded_at: Sun, 16 Apr 2023 19:47:50 GMT
- request:
    method: get
    uri: https://anthro.dev.collectionspace.org/cspace-services/structureddates?displayDate=1881-&pgSz=25&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AYW50aHJvLmNvbGxlY3Rpb25zcGFjZS5vcmc6QWRtaW5pc3RyYXRvcg==
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: no viable date format found at '1881-'
  recorded_at: Sun, 16 Apr 2023 19:47:51 GMT
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/personauthorities?pgNum=0&pgSz=1&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>1</pageSize><itemsInPage>1</itemsInPage><totalItems>2</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|rev|shortIdentifier|sas|displayName|vocabType</fieldsReturned><list-item><csid>0f6cddfa-32ce-4c25-9b2f</csid><uri>/personauthorities/0f6cddfa-32ce-4c25-9b2f</uri><refName>urn:cspace:core.collectionspace.org:personauthorities:name(person)'Local
        Persons'</refName><updatedAt>2020-02-08T03:31:20.492Z</updatedAt><workflowState>project</workflowState><rev>1117</rev><shortIdentifier>person</shortIdentifier><displayName>Local
        Persons</displayName><vocabType>PersonAuthority</vocabType></list-item></ns2:abstract-common-list>
  recorded_at: Sun, 16 Apr 2023 19:53:08 GMT
- request:
    method: get
    uri: https://anthro.dev.collectionspace.org/cspace-services/structureddates?displayDate=01-00-2000&pgSz=25&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AYW50aHJvLmNvbGxlY3Rpb25zcGFjZS5vcmc6QWRtaW5pc3RyYXRvcg==
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: "GET request failed:  detail: \r\n  -- Exception: java.util.EmptyStackException\r\n
        \ -- Message: null\r\n  -- Stack Trace: \r\n  --      java.util.EmptyStackException\r\n\tat
        java.util.Stack.peek(Stack.java:102)\r\n\tat java.util.Stack.pop(Stack.java:84)\r\n
        \ ...first 4 lines. 87 more.\r\n"
  recorded_at: Sun, 16 Apr 2023 20:49:56 GMT
- request:
    method: get
    uri: https://anthro.dev.collectionspace.org/cspace-services/structureddates?displayDate=20not%20a%20date&pgSz=25&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AYW50aHJvLmNvbGxlY3Rpb25zcGFjZS5vcmc6QWRtaW5pc3RyYXRvcg==
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: did not expect 'not' while looking for <EOF>
  recorded_at: Sun, 16 Apr 2023 21:54:45 GMT
recorded_with: VCR 6.1.0
