---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/personauthorities?pgNum=0&pgSz=1&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>1</pageSize><itemsInPage>1</itemsInPage><totalItems>2</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|rev|shortIdentifier|sas|displayName|vocabType</fieldsReturned><list-item><csid>0f6cddfa-32ce-4c25-9b2f</csid><uri>/personauthorities/0f6cddfa-32ce-4c25-9b2f</uri><refName>urn:cspace:core.collectionspace.org:personauthorities:name(person)'Local
        Persons'</refName><updatedAt>2020-02-08T03:31:20.492Z</updatedAt><workflowState>project</workflowState><rev>1117</rev><shortIdentifier>person</shortIdentifier><displayName>Local
        Persons</displayName><vocabType>PersonAuthority</vocabType></list-item></ns2:abstract-common-list>
  recorded_at: Sun, 16 Apr 2023 19:48:23 GMT
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/relations?obj=6f0ce7b3-0130-444d-8633&pgSz=25&prd=affects&sbj=56c04f5f-32b9-4f1d-8a4b&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><rel:relations-common-list
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rel="http://collectionspace.org/services/relation"
        xmlns:ns4="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>subjectCsid|relationshipType|predicateDisplayName|relationshipMetaType|objectCsid|uri|csid|subject|object</fieldsReturned><relation-list-item><uri>/relations/53b4a988-cd8a-4299-9ae7</uri><csid>53b4a988-cd8a-4299-9ae7</csid><subjectCsid>56c04f5f-32b9-4f1d-8a4b</subjectCsid><relationshipType>affects</relationshipType><predicate>affects</predicate><objectCsid>6f0ce7b3-0130-444d-8633</objectCsid><subject><uri>/collectionobjects/56c04f5f-32b9-4f1d-8a4b</uri><csid>56c04f5f-32b9-4f1d-8a4b</csid><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(56c04f5f-32b9-4f1d-8a4b)'QA
        TEST 001'</refName><name>QA TEST name 1</name><number>QA TEST 001</number><documentType>CollectionObject</documentType></subject><object><uri>/objectexit/6f0ce7b3-0130-444d-8633</uri><csid>6f0ce7b3-0130-444d-8633</csid><refName>urn:cspace:core.collectionspace.org:objectexit:id(6f0ce7b3-0130-444d-8633)</refName><name></name><number>EX2020.8</number><documentType>ObjectExit</documentType></object></relation-list-item></rel:relations-common-list>
  recorded_at: Sun, 16 Apr 2023 19:48:24 GMT
recorded_with: VCR 6.1.0
