---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/personauthorities?pgNum=0&pgSz=1&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>1</pageSize><itemsInPage>1</itemsInPage><totalItems>2</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|rev|shortIdentifier|sas|displayName|vocabType</fieldsReturned><list-item><csid>0f6cddfa-32ce-4c25-9b2f</csid><uri>/personauthorities/0f6cddfa-32ce-4c25-9b2f</uri><refName>urn:cspace:core.collectionspace.org:personauthorities:name(person)'Local
        Persons'</refName><updatedAt>2020-02-08T03:31:20.492Z</updatedAt><workflowState>project</workflowState><rev>1117</rev><shortIdentifier>person</shortIdentifier><displayName>Local
        Persons</displayName><vocabType>PersonAuthority</vocabType></list-item></ns2:abstract-common-list>
  recorded_at: Sun, 16 Apr 2023 19:27:47 GMT
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/collectionobjects?as=collectionobjects_common:objectNumber%20=%20%2721CS.001.0002%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>0</itemsInPage><totalItems>0</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|objectNumber|objectName|title|responsibleDepartment</fieldsReturned></ns2:abstract-common-list>
  recorded_at: Sun, 16 Apr 2023 19:30:36 GMT
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/collectionobjects?as=collectionobjects_common:objectNumber%20=%20%27UR72%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>0</itemsInPage><totalItems>0</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|objectNumber|objectName|title|responsibleDepartment</fieldsReturned></ns2:abstract-common-list>
  recorded_at: Sun, 16 Apr 2023 19:31:59 GMT
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/media?as=media_common:identificationNumber%20=%20%27MRR.2009-1%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>0</itemsInPage><totalItems>0</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|identificationNumber|blobCsid|title</fieldsReturned></ns2:abstract-common-list>
  recorded_at: Sun, 16 Apr 2023 19:34:59 GMT
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/structureddates?displayDate=%5E2020-07-21&pgSz=25&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: "<!doctype html><html lang=\"en\"><head><title>HTTP Status 400 – Bad
        Request</title><style type=\"text/css\">body {font-family:Tahoma,Arial,sans-serif;}
        h1, h2, h3, b {color:white;background-color:#525D76;} h1 {font-size:22px;}
        h2 {font-size:16px;} h3 {font-size:14px;} p {font-size:12px;} a {color:black;}
        .line {height:1px;background-color:#525D76;border:none;}</style></head><body><h1>HTTP
        Status 400 – Bad Request</h1><hr class=\"line\" /><p><b>Type</b> Exception
        Report</p><p><b>Message</b> Invalid character found in the request target.
        The valid characters are defined in RFC 7230 and RFC 3986</p><p><b>Description</b>
        The server cannot or will not process the request due to something that is
        perceived to be a client error (e.g., malformed request syntax, invalid request
        message framing, or deceptive request routing).</p><p><b>Exception</b></p><pre>java.lang.IllegalArgumentException:
        Invalid character found in the request target. The valid characters are defined
        in RFC 7230 and RFC 3986\n\torg.apache.coyote.http11.Http11InputBuffer.parseRequestLine(Http11InputBuffer.java:483)\n\torg.apache.coyote.http11.Http11Processor.service(Http11Processor.java:502)\n\torg.apache.coyote.AbstractProcessorLight.process(AbstractProcessorLight.java:65)\n\torg.apache.coyote.AbstractProtocol$ConnectionHandler.process(AbstractProtocol.java:818)\n\torg.apache.tomcat.util.net.NioEndpoint$SocketProcessor.doRun(NioEndpoint.java:1623)\n\torg.apache.tomcat.util.net.SocketProcessorBase.run(SocketProcessorBase.java:49)\n\tjava.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)\n\tjava.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)\n\torg.apache.tomcat.util.threads.TaskThread$WrappingRunnable.run(TaskThread.java:61)\n\tjava.lang.Thread.run(Thread.java:750)\n</pre><p><b>Note</b>
        The full stack trace of the root cause is available in the server logs.</p><hr
        class=\"line\" /><h3>Apache Tomcat/8.5.51</h3></body></html>"
  recorded_at: Sun, 16 Apr 2023 19:47:52 GMT
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/vocabularies?pgNum=0&pgSz=1&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>1</pageSize><itemsInPage>1</itemsInPage><totalItems>156</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|rev|shortIdentifier|sas|displayName|vocabType</fieldsReturned><list-item><csid>4ab7dd14-2a1b-495a-8cda</csid><uri>/vocabularies/4ab7dd14-2a1b-495a-8cda</uri><refName>urn:cspace:core.collectionspace.org:vocabularies:name(acousticalproperties)'Acoustical
        Properties'</refName><updatedAt>2020-02-08T03:30:56.615Z</updatedAt><workflowState>project</workflowState><rev>6</rev><shortIdentifier>acousticalproperties</shortIdentifier><displayName>Acoustical
        Properties</displayName><vocabType>enum</vocabType></list-item></ns2:abstract-common-list>
  recorded_at: Mon, 17 Apr 2023 00:47:11 GMT
[...]
- request:
    method: post
    uri: https://core.dev.collectionspace.org/cspace-services/collectionobjects?pgSz=25&wf_deleted=false
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <document name="collectionobjects">
          <ns2:collectionspace_core xmlns:ns2="http://collectionspace.org/collectionspace_core/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <createdAt>2020-09-09T10:00:45.052Z</createdAt>
            <updatedBy>admin@core.collectionspace.org</updatedBy>
            <createdBy>admin@core.collectionspace.org</createdBy>
            <workflowState>project</workflowState>
            <tenantId>1</tenantId>
            <refName>urn:cspace:c.core.collectionspace.org:collectionobjects:id(998b6cad-4a55-4904-93b2)'36548'</refName>
            <uri>/collectionobjects/998b6cad-4a55-4904-93b2</uri>
            <updatedAt>2020-09-09T11:28:51.773Z</updatedAt>
          </ns2:collectionspace_core>
          <ns2:collectionobjects_common xmlns:ns2="http://collectionspace.org/services/collectionobject" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <objectNumber>M2005.2.1</objectNumber>
            <objectProductionDateGroupList>
              <objectProductionDateGroup>
                <dateDisplayDate>circa 1938</dateDisplayDate>
                <dateEarliestSingleYear>1938</dateEarliestSingleYear>
                <dateEarliestSingleMonth>1</dateEarliestSingleMonth>
                <dateEarliestSingleDay>1</dateEarliestSingleDay>
                <dateEarliestSingleEra>urn:cspace:c.core.collectionspace.org:vocabularies:name(dateera):item:name(ce)'CE'</dateEarliestSingleEra>
                <dateEarliestSingleCertainty>urn:cspace:c.core.collectionspace.org:vocabularies:name(datecertainty):item:name(circa)'Circa'</dateEarliestSingleCertainty>
                <dateLatestYear>1938</dateLatestYear>
                <dateLatestMonth>12</dateLatestMonth>
                <dateLatestDay>31</dateLatestDay>
                <dateLatestEra>urn:cspace:c.core.collectionspace.org:vocabularies:name(dateera):item:name(ce)'CE'</dateLatestEra>
                <dateLatestCertainty>urn:cspace:c.core.collectionspace.org:vocabularies:name(datecertainty):item:name(circa)'Circa'</dateLatestCertainty>
                <dateEarliestScalarValue>1938-01-01T00:00:00.000Z</dateEarliestScalarValue>
                <dateLatestScalarValue>1938-12-31T00:00:00.000Z</dateLatestScalarValue>
                <dateEarliestSingleQualifierUnit/>
                <dateEarliestSingleQualifierValue/>
                <datePeriod/>
                <dateEarliestSingleQualifier/>
                <dateAssociation/>
                <dateLatestQualifierUnit/>
                <dateNote/>
                <dateLatestQualifierValue/>
                <dateLatestQualifier/>
              </objectProductionDateGroup>
            </objectProductionDateGroupList>
          </ns2:collectionobjects_common>
          <ns2:account_permission xmlns:ns2="http://collectionspace.org/services/authorization">
            <account>
              <accountId>d884e854-a10b-49c8-87e7-e7a900ffdc52</accountId>
              <screenName>Administrator</screenName>
              <userId>admin@core.collectionspace.org</userId>
              <tenantId>1</tenantId>
            </account>
          </ns2:account_permission>
        </document>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://core.dev.collectionspace.org/cspace-services/collectionobjects/dd530492-432d-4ca3-8dd4
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 17 Apr 2023 21:21:30 GMT
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/collectionobjects?as=collectionobjects_common:objectNumber%20=%20%27M2005.2.1%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|objectNumber|objectName|title|responsibleDepartment</fieldsReturned><list-item><csid>dd530492-432d-4ca3-8dd4</csid><uri>/collectionobjects/dd530492-432d-4ca3-8dd4</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(dd530492-432d-4ca3-8dd4)'M2005.2.1'</refName><updatedAt>2023-04-17T21:21:30.077Z</updatedAt><workflowState>project</workflowState><objectNumber>M2005.2.1</objectNumber></list-item></ns2:abstract-common-list>
  recorded_at: Tue, 18 Apr 2023 16:49:10 GMT
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/collectionobjects?as=collectionobjects_common:objectNumber%20=%20%27L2005.8.1%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|objectNumber|objectName|title|responsibleDepartment</fieldsReturned><list-item><csid>dd530492-432d-4ca3-8dd4</csid><uri>/collectionobjects/dd530492-432d-4ca3-8dd4</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(dd530492-432d-4ca3-8dd4)'L2005.8.1'</refName><updatedAt>2023-04-18T17:12:07.484Z</updatedAt><workflowState>project</workflowState><objectNumber>L2005.8.1</objectNumber></list-item></ns2:abstract-common-list>
  recorded_at: Tue, 18 Apr 2023 19:41:48 GMT
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/conceptauthorities/urn:cspace:name(concept)/items?as=concepts_common:conceptTermGroupList/0/termDisplayName%20=%20%27Cats%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|rev|shortIdentifier|sas|proposed|deprecated|termStatus|termDisplayName</fieldsReturned><list-item><csid>fba204d0-004b-49a3-8676</csid><uri>/conceptauthorities/7022dcc2-2f66-4cb8-b768/items/fba204d0-004b-49a3-8676</uri><refName>urn:cspace:core.collectionspace.org:conceptauthorities:name(concept):item:name(Cats1614282053365)'Cats'</refName><updatedAt>2021-07-31T06:06:17.313Z</updatedAt><workflowState>project</workflowState><rev>1</rev><shortIdentifier>Cats1614282053365</shortIdentifier><sas>false</sas><proposed>true</proposed><termDisplayName>Cats</termDisplayName></list-item></ns2:abstract-common-list>
  recorded_at: Tue, 18 Apr 2023 22:58:01 GMT
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/conceptauthorities/urn:cspace:name(concept)/items?as=concepts_common:conceptTermGroupList/0/termDisplayName%20=%20%27Tuxedo%20cats%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>0</itemsInPage><totalItems>0</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|rev|shortIdentifier|sas|proposed|deprecated|termStatus|termDisplayName</fieldsReturned></ns2:abstract-common-list>
  recorded_at: Tue, 18 Apr 2023 22:58:02 GMT
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/conceptauthorities/urn:cspace:name(concept)/items?as=concepts_common:conceptTermGroupList/0/termDisplayName%20=%20%27tuxedo%20cats%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>0</itemsInPage><totalItems>0</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|rev|shortIdentifier|sas|proposed|deprecated|termStatus|termDisplayName</fieldsReturned></ns2:abstract-common-list>
  recorded_at: Tue, 18 Apr 2023 22:58:02 GMT
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/media?as=media_common:identificationNumber%20=%20%27%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>0</itemsInPage><totalItems>0</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|identificationNumber|blobCsid|title</fieldsReturned></ns2:abstract-common-list>
  recorded_at: Tue, 18 Apr 2023 23:22:00 GMT
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/collectionobjects?as=collectionobjects_common:objectNumber%20=%20%27%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>0</itemsInPage><totalItems>0</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|objectNumber|objectName|title|responsibleDepartment</fieldsReturned></ns2:abstract-common-list>
  recorded_at: Tue, 18 Apr 2023 23:22:01 GMT
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/collectionobjects?as=collectionobjects_common:objectNumber%20=%20%27TEST6%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>0</itemsInPage><totalItems>0</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|objectNumber|objectName|title|responsibleDepartment</fieldsReturned></ns2:abstract-common-list>
  recorded_at: Wed, 20 Dec 2023 00:05:11 GMT
[...]
- request:
    method: get
    uri: https://github.com/collectionspace/cspace-config-untangler/raw/refs/heads/main/data/mappers/community_profiles/release_8_1_1/core/core_10-0-2_collectionobject.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://raw.githubusercontent.com/collectionspace/cspace-config-untangler/refs/heads/main/data/mappers/community_profiles/release_8_1_1/core/core_10-0-2_collectionobject.json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 28 May 2025 21:20:36 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/collectionspace/cspace-config-untangler/refs/heads/main/data/mappers/community_profiles/release_8_1_1/core/core_10-0-2_collectionobject.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - W/"c4127def7450a8d8482067dbbfb69002cfd16721d0ac615b8777bf591420cbfb"
      X-Fastly-Request-Id:
      - 8b99cdb6c92d26bf2955920757d299b551f2d35d
      Source-Age:
      - '54'
    body:
      encoding: ASCII-8BIT
      base64_string: |
        ewogICJjb25maWciOiB7CiAgICAicHJvZmlsZV9iYXNlbmFtZSI6ICJjb3Jl
        IiwKICAgICJ2ZXJzaW9uIjogIjEwLjAuMiIsCiAgICAicmVjb3JkdHlwZSI6
        ICJjb2xsZWN0aW9ub2JqZWN0IiwKICAgICJkb2N1bWVudF9uYW1lIjogImNv
        bGxlY3Rpb25vYmplY3RzIiwKICAgICJzZXJ2aWNlX25hbWUiOiAiQ29sbGVj
        dGlvbk9iamVjdHMiLAogICAgInNlcnZpY2VfcGF0aCI6ICJjb2xsZWN0aW9u
        b2JqZWN0cyIsCiAgICAic2VydmljZV90eXBlIjogIm9iamVjdCIsCiAgICAi
        b2JqZWN0X25hbWUiOiAiQ29sbGVjdGlvbk9iamVjdCIsCiAgICAibnNfdXJp
        Ijogew[...]
