---
http_interactions:
- request:
    method: get
    uri: https://botgarden.dev.collectionspace.org/cspace-services/personauthorities?pgNum=0&pgSz=1&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AYm90Z2FyZGVuLmNvbGxlY3Rpb25zcGFjZS5vcmc6QWRtaW5pc3RyYXRvcg==
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>1</pageSize><itemsInPage>1</itemsInPage><totalItems>2</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|rev|shortIdentifier|sas|displayName|vocabType</fieldsReturned><list-item><csid>8065991d-f25d-457c-9da9</csid><uri>/personauthorities/8065991d-f25d-457c-9da9</uri><refName>urn:cspace:botgarden.collectionspace.org:personauthorities:name(ulan_pa)'ULAN
        Persons'</refName><updatedAt>2021-11-18T02:01:32.442Z</updatedAt><workflowState>project</workflowState><rev>0</rev><shortIdentifier>ulan_pa</shortIdentifier><displayName>ULAN
        Persons</displayName><vocabType>PersonAuthority</vocabType></list-item></ns2:abstract-common-list>
  recorded_at: Sun, 16 Apr 2023 19:48:36 GMT
- request:
    method: get
    uri: https://botgarden.dev.collectionspace.org/cspace-services/propagations?as=propagations_common:propNumber%20=%20%276589%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AYm90Z2FyZGVuLmNvbGxlY3Rpb25zcGFjZS5vcmc6QWRtaW5pc3RyYXRvcg==
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>0</itemsInPage><totalItems>0</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|propNumber|propType</fieldsReturned></ns2:abstract-common-list>
  recorded_at: Sun, 16 Apr 2023 19:48:36 GMT
- request:
    method: get
    uri: https://botgarden.dev.collectionspace.org/cspace-services/propagations?as=propagations_common:propNumber%20=%20%27%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AYm90Z2FyZGVuLmNvbGxlY3Rpb25zcGFjZS5vcmc6QWRtaW5pc3RyYXRvcg==
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>0</itemsInPage><totalItems>0</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|propNumber|propType</fieldsReturned></ns2:abstract-common-list>
  recorded_at: Tue, 18 Apr 2023 23:22:37 GMT
recorded_with: VCR 6.1.0
