---
http_interactions:
- request:
    method: get
    uri: https://anthro.dev.collectionspace.org/cspace-services/personauthorities?pgNum=0&pgSz=1&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AYW50aHJvLmNvbGxlY3Rpb25zcGFjZS5vcmc6QWRtaW5pc3RyYXRvcg==
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>1</pageSize><itemsInPage>1</itemsInPage><totalItems>2</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|rev|shortIdentifier|sas|displayName|vocabType</fieldsReturned><list-item><csid>a67671b9-0fdf-4af3-9e04</csid><uri>/personauthorities/a67671b9-0fdf-4af3-9e04</uri><refName>urn:cspace:anthro.collectionspace.org:personauthorities:name(ulan_pa)'ULAN
        Persons'</refName><updatedAt>2021-11-18T02:24:50.454Z</updatedAt><workflowState>project</workflowState><rev>0</rev><shortIdentifier>ulan_pa</shortIdentifier><displayName>ULAN
        Persons</displayName><vocabType>PersonAuthority</vocabType></list-item></ns2:abstract-common-list>
  recorded_at: Sun, 16 Apr 2023 19:48:12 GMT
- request:
    method: get
    uri: https://anthro.dev.collectionspace.org/cspace-services/vocabularies/urn:cspace:name(dateera)/items?as=vocabularyitems_common:displayName%20=%20%27CE%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AYW50aHJvLmNvbGxlY3Rpb25zcGFjZS5vcmc6QWRtaW5pc3RyYXRvcg==
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|rev|sourcePage|sas|proposed|referenced|deprecated|termStatus|description|source|order|displayName|shortIdentifier</fieldsReturned><list-item><csid>70dcd676-3ab9-4c60-a102</csid><uri>/vocabularies/0f77917d-f120-45b5-b404/items/70dcd676-3ab9-4c60-a102</uri><refName>urn:cspace:anthro.collectionspace.org:vocabularies:name(dateera):item:name(ce)'CE'</refName><updatedAt>2021-11-18T02:23:55.812Z</updatedAt><workflowState>project</workflowState><rev>0</rev><sas>false</sas><proposed>true</proposed><displayName>CE</displayName><shortIdentifier>ce</shortIdentifier></list-item></ns2:abstract-common-list>
  recorded_at: Sun, 16 Apr 2023 19:48:13 GMT
recorded_with: VCR 6.1.0
