---
http_interactions:
- request:
    method: get
    uri: https://anthro.dev.collectionspace.org/cspace-services/personauthorities?pgNum=0&pgSz=1&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AYW50aHJvLmNvbGxlY3Rpb25zcGFjZS5vcmc6QWRtaW5pc3RyYXRvcg==
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>1</pageSize><itemsInPage>1</itemsInPage><totalItems>2</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|rev|shortIdentifier|sas|displayName|vocabType</fieldsReturned><list-item><csid>896d2991-a9ff-4ba2-80bf</csid><uri>/personauthorities/896d2991-a9ff-4ba2-80bf</uri><refName>urn:cspace:anthro.collectionspace.org:personauthorities:name(person)'Local
        Persons'</refName><updatedAt>2021-11-18T02:24:50.277Z</updatedAt><workflowState>project</workflowState><rev>1</rev><shortIdentifier>person</shortIdentifier><displayName>Local
        Persons</displayName><vocabType>PersonAuthority</vocabType></list-item></ns2:abstract-common-list>
  recorded_at: Sun, 16 Apr 2023 19:48:31 GMT
- request:
    method: get
    uri: https://anthro.dev.collectionspace.org/cspace-services/structureddates?displayDate=1/2/2000%20-%2012/21/2001&pgSz=25&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AYW50aHJvLmNvbGxlY3Rpb25zcGFjZS5vcmc6QWRtaW5pc3RyYXRvcg==
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:structureddate_common
        xmlns:ns2="http://collectionspace.org/services/structureddate"><dateDisplayDate>1/2/2000
        - 12/21/2001</dateDisplayDate><dateEarliestSingleYear>2000</dateEarliestSingleYear><dateEarliestSingleMonth>1</dateEarliestSingleMonth><dateEarliestSingleDay>2</dateEarliestSingleDay><dateEarliestSingleEra>urn:cspace:anthro.collectionspace.org:vocabularies:name(dateera):item:name(ce)'CE'</dateEarliestSingleEra><dateLatestYear>2001</dateLatestYear><dateLatestMonth>12</dateLatestMonth><dateLatestDay>21</dateLatestDay><dateLatestEra>urn:cspace:anthro.collectionspace.org:vocabularies:name(dateera):item:name(ce)'CE'</dateLatestEra><dateEarliestScalarValue>2000-01-02</dateEarliestScalarValue><dateLatestScalarValue>2001-12-22</dateLatestScalarValue><scalarValuesComputed>true</scalarValuesComputed></ns2:structureddate_common>
  recorded_at: Sun, 16 Apr 2023 19:48:32 GMT
[...]
- request:
    method: get
    uri: https://anthro.dev.collectionspace.org/cspace-services/structureddates?displayDate=1/2/2000%20-%2012/21/2001&pgSz=25&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AYW50aHJvLmNvbGxlY3Rpb25zcGFjZS5vcmc6QWRtaW5pc3RyYXRvcg==
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:structureddate_common
        xmlns:ns2="http://collectionspace.org/services/structureddate"><dateDisplayDate>1/2/2000
        - 12/21/2001</dateDisplayDate><dateEarliestSingleYear>2000</dateEarliestSingleYear><dateEarliestSingleMonth>1</dateEarliestSingleMonth><dateEarliestSingleDay>2</dateEarliestSingleDay><dateEarliestSingleEra>urn:cspace:anthro.collectionspace.org:vocabularies:name(dateera):item:name(ce)'CE'</dateEarliestSingleEra><dateLatestYear>2001</dateLatestYear><dateLatestMonth>12</dateLatestMonth><dateLatestDay>21</dateLatestDay><dateLatestEra>urn:cspace:anthro.collectionspace.org:vocabularies:name(dateera):item:name(ce)'CE'</dateLatestEra><dateEarliestScalarValue>2000-01-02</dateEarliestScalarValue><dateLatestScalarValue>2001-12-22</dateLatestScalarValue><scalarValuesComputed>true</scalarValuesComputed></ns2:structureddate_common>
  recorded_at: Sun, 16 Apr 2023 19:48:32 GMT
recorded_with: VCR 6.1.0
