---
http_interactions:
- request:
    method: get
    uri: https://fcart.dev.collectionspace.org/cspace-services/personauthorities?pgNum=0&pgSz=1&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AZmNhcnQuY29sbGVjdGlvbnNwYWNlLm9yZzpBZG1pbmlzdHJhdG9y
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>1</pageSize><itemsInPage>1</itemsInPage><totalItems>2</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|rev|shortIdentifier|sas|displayName|vocabType</fieldsReturned><list-item><csid>b5886d40-6752-4abd-b721</csid><uri>/personauthorities/b5886d40-6752-4abd-b721</uri><refName>urn:cspace:fcart.collectionspace.org:personauthorities:name(person)'Local
        Persons'</refName><updatedAt>2021-11-18T02:23:19.361Z</updatedAt><workflowState>project</workflowState><rev>21</rev><shortIdentifier>person</shortIdentifier><displayName>Local
        Persons</displayName><vocabType>PersonAuthority</vocabType></list-item></ns2:abstract-common-list>
  recorded_at: Sun, 16 Apr 2023 19:05:50 GMT
- request:
    method: get
    uri: https://fcart.dev.collectionspace.org/cspace-services/acquisitions?as=acquisitions_common:acquisitionReferenceNumber%20=%20%27ACC216%20(migrated%20accession)%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AZmNhcnQuY29sbGVjdGlvbnNwYWNlLm9yZzpBZG1pbmlzdHJhdG9y
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>0</itemsInPage><totalItems>0</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|acquisitionReferenceNumber|acquisitionSource</fieldsReturned></ns2:abstract-common-list>
  recorded_at: Sun, 16 Apr 2023 19:25:39 GMT
[...]
- request:
    method: get
    uri: https://fcart.dev.collectionspace.org/cspace-services/acquisitions?as=acquisitions_common:acquisitionReferenceNumber%20=%20%27%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AZmNhcnQuY29sbGVjdGlvbnNwYWNlLm9yZzpBZG1pbmlzdHJhdG9y
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>0</itemsInPage><totalItems>0</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|acquisitionReferenceNumber|acquisitionSource</fieldsReturned></ns2:abstract-common-list>
  recorded_at: Tue, 18 Apr 2023 23:21:57 GMT
[...]
- request:
    method: get
    uri: https://fcart.dev.collectionspace.org/cspace-services/acquisitions?as=acquisitions_common:acquisitionReferenceNumber%20=%20%27%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AZmNhcnQuY29sbGVjdGlvbnNwYWNlLm9yZzpBZG1pbmlzdHJhdG9y
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>0</itemsInPage><totalItems>0</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|acquisitionReferenceNumber|acquisitionSource</fieldsReturned></ns2:abstract-common-list>
  recorded_at: Tue, 18 Apr 2023 23:21:58 GMT
recorded_with: VCR 6.1.0
