---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/personauthorities?pgNum=0&pgSz=1&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>1</pageSize><itemsInPage>1</itemsInPage><totalItems>2</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|rev|shortIdentifier|sas|displayName|vocabType</fieldsReturned><list-item><csid>0f6cddfa-32ce-4c25-9b2f</csid><uri>/personauthorities/0f6cddfa-32ce-4c25-9b2f</uri><refName>urn:cspace:core.collectionspace.org:personauthorities:name(person)'Local
        Persons'</refName><updatedAt>2020-02-08T03:31:20.492Z</updatedAt><workflowState>project</workflowState><rev>1117</rev><shortIdentifier>person</shortIdentifier><displayName>Local
        Persons</displayName><vocabType>PersonAuthority</vocabType></list-item></ns2:abstract-common-list>
  recorded_at: Sun, 16 Apr 2023 19:48:20 GMT
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/collectionobjects?as=collectionobjects_common:objectNumber%20=%20%27QA%20TEST%20001%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|objectNumber|objectName|title|responsibleDepartment</fieldsReturned><list-item><csid>56c04f5f-32b9-4f1d-8a4b</csid><uri>/collectionobjects/56c04f5f-32b9-4f1d-8a4b</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(56c04f5f-32b9-4f1d-8a4b)'QA
        TEST 001'</refName><updatedAt>2020-03-10T21:35:19.235Z</updatedAt><workflowState>project</workflowState><objectNumber>QA
        TEST 001</objectNumber><objectName>QA TEST name 1</objectName><title>QA TEST
        Advanced Search All Fields</title><responsibleDepartment>architecture-design</responsibleDepartment></list-item></ns2:abstract-common-list>
  recorded_at: Sun, 16 Apr 2023 20:56:42 GMT
recorded_with: VCR 6.1.0
