---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/acquisitions?as=acquisitions_common:acquisitionReferenceNumber%20=%20%272000.001%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|acquisitionReferenceNumber|acquisitionSource</fieldsReturned><list-item><csid>0ccd3548-618f-4e01-8b72</csid><uri>/acquisitions/0ccd3548-618f-4e01-8b72</uri><refName>urn:cspace:core.collectionspace.org:acquisitions:id(0ccd3548-618f-4e01-8b72)</refName><updatedAt>2020-08-11T00:44:29.024Z</updatedAt><workflowState>project</workflowState><acquisitionReferenceNumber>2000.001</acquisitionReferenceNumber></list-item></ns2:abstract-common-list>
  recorded_at: Mon, 20 Mar 2023 17:04:00 GMT
recorded_with: VCR 6.1.0
