---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/personauthorities/urn:cspace:name(person)/items?as=persons_common:personTermGroupList/0/termDisplayName%20=%20%27Inkpot%20Guineafowl%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>2</itemsInPage><totalItems>2</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|rev|sas|surName|deprecated|foreName|shortIdentifier|proposed|termStatus|termDisplayName</fieldsReturned><list-item><csid>3671059a-be50-4758-bd67</csid><uri>/personauthorities/0f6cddfa-32ce-4c25-9b2f/items/3671059a-be50-4758-bd67</uri><refName>urn:cspace:core.collectionspace.org:personauthorities:name(person):item:name(InkpotGuineafowl1608759315996)'Inkpot
        Guineafowl'</refName><updatedAt>2020-12-24T05:35:15.996Z</updatedAt><workflowState>project</workflowState><rev>1</rev><sas>false</sas><shortIdentifier>InkpotGuineafowl1608759315996</shortIdentifier><proposed>true</proposed><termStatus>accepted</termStatus><termDisplayName>Inkpot
        Guineafowl</termDisplayName></list-item><list-item><csid>cbc352db-4785-41e0-8ee3</csid><uri>/personauthorities/0f6cddfa-32ce-4c25-9b2f/items/cbc352db-4785-41e0-8ee3</uri><refName>urn:cspace:core.collectionspace.org:personauthorities:name(person):item:name(InkpotGuineafowl1608759305656)'Inkpot
        Guineafowl'</refName><updatedAt>2020-12-24T05:35:05.655Z</updatedAt><workflowState>project</workflowState><rev>0</rev><sas>false</sas><shortIdentifier>InkpotGuineafowl1608759305656</shortIdentifier><proposed>true</proposed><termStatus>provisional</termStatus><termDisplayName>Inkpot
        Guineafowl</termDisplayName></list-item></ns2:abstract-common-list>
  recorded_at: Mon, 20 Mar 2023 17:02:51 GMT
recorded_with: VCR 6.1.0
