---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/loansout?as=loansout_common:loanOutNumber%20=%20%27LO2020.1.70%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|borrower|loanOutNumber</fieldsReturned><list-item><csid>79e0f379-1af1-4aaa-ab43</csid><uri>/loansout/79e0f379-1af1-4aaa-ab43</uri><refName>urn:cspace:core.collectionspace.org:loansout:id(79e0f379-1af1-4aaa-ab43)</refName><updatedAt>2020-09-04T19:13:18.715Z</updatedAt><workflowState>project</workflowState><borrower>urn:cspace:core.collectionspace.org:orgauthorities:name(organization):item:name(Broker1599221487572)'Broker'</borrower><loanOutNumber>LO2020.1.70</loanOutNumber></list-item></ns2:abstract-common-list>
  recorded_at: Sat, 18 Mar 2023 00:53:23 GMT
recorded_with: VCR 6.1.0
