---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/conditionchecks?as=conditionchecks_common:conditionCheckRefNumber%20=%20%27CC2020.5%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|condition|conditionCheckRefNumber</fieldsReturned><list-item><csid>894dba3c-8686-4564-b088</csid><uri>/conditionchecks/894dba3c-8686-4564-b088</uri><refName>urn:cspace:core.collectionspace.org:conditionchecks:id(894dba3c-8686-4564-b088)</refName><updatedAt>2020-09-08T23:08:31.851Z</updatedAt><workflowState>project</workflowState><condition>needsnowork</condition><conditionCheckRefNumber>CC2020.5</conditionCheckRefNumber></list-item></ns2:abstract-common-list>
  recorded_at: Sat, 18 Mar 2023 00:53:19 GMT
recorded_with: VCR 6.1.0
