---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/objectexit?as=objectexit_common:exitNumber%20=%20%27EX2020.2%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|currentOwner|exitNumber</fieldsReturned><list-item><csid>ea54b752-b1ca-496a-82c0</csid><uri>/objectexit/ea54b752-b1ca-496a-82c0</uri><refName>urn:cspace:core.collectionspace.org:objectexit:id(ea54b752-b1ca-496a-82c0)</refName><updatedAt>2020-09-08T21:46:21.673Z</updatedAt><workflowState>project</workflowState><currentOwner>urn:cspace:core.collectionspace.org:personauthorities:name(person):item:name(cxcx1599551790384)'cxcx'</currentOwner><exitNumber>EX2020.2</exitNumber></list-item></ns2:abstract-common-list>
  recorded_at: Sat, 18 Mar 2023 00:53:22 GMT
recorded_with: VCR 6.1.0
