---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/intakes?as=intakes_common:entryNumber%20=%20%27IN2020.21%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|currentOwner|entryNumber</fieldsReturned><list-item><csid>882a762a-dd57-4b62-bb8c</csid><uri>/intakes/882a762a-dd57-4b62-bb8c</uri><refName>urn:cspace:core.collectionspace.org:intakes:id(882a762a-dd57-4b62-bb8c)</refName><updatedAt>2020-09-03T22:36:22.272Z</updatedAt><workflowState>project</workflowState><currentOwner>urn:cspace:core.collectionspace.org:personauthorities:name(person):item:name(20201599147149106)'2020'</currentOwner><entryNumber>IN2020.21</entryNumber></list-item></ns2:abstract-common-list>
  recorded_at: Sat, 18 Mar 2023 00:53:23 GMT
recorded_with: VCR 6.1.0
