---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/collectionobjects?as=collectionobjects_common:objectNumber%20=%20%272020.1.105%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|objectNumber|objectName|title|responsibleDepartment</fieldsReturned><list-item><csid>e37949e9-6402-4ad2-b899</csid><uri>/collectionobjects/e37949e9-6402-4ad2-b899</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(e37949e9-6402-4ad2-b899)'2020.1.105'</refName><updatedAt>2021-02-24T07:33:18.274Z</updatedAt><workflowState>project</workflowState><objectNumber>2020.1.105</objectNumber></list-item></ns2:abstract-common-list>
  recorded_at: Sat, 18 Mar 2023 00:46:22 GMT
[...]
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/relations?obj=e37949e9-6402-4ad2-b899&pgSz=25&prd=hasBroader&sbj=9010870e-e323-4beb-b065&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><rel:relations-common-list
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rel="http://collectionspace.org/services/relation"
        xmlns:ns4="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>subjectCsid|relationshipType|predicateDisplayName|relationshipMetaType|objectCsid|uri|csid|subject|object</fieldsReturned><relation-list-item><uri>/relations/58431220-f10e-4b05-aa41</uri><csid>58431220-f10e-4b05-aa41</csid><subjectCsid>9010870e-e323-4beb-b065</subjectCsid><relationshipType>hasBroader</relationshipType><predicate>hasBroader</predicate><relationshipMetaType>separable-part</relationshipMetaType><objectCsid>e37949e9-6402-4ad2-b899</objectCsid><subject><uri>/collectionobjects/9010870e-e323-4beb-b065</uri><csid>9010870e-e323-4beb-b065</csid><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(9010870e-e323-4beb-b065)'2020.1.1055'</refName><name></name><number>2020.1.1055</number><documentType>CollectionObject</documentType></subject><object><uri>/collectionobjects/e37949e9-6402-4ad2-b899</uri><csid>e37949e9-6402-4ad2-b899</csid><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(e37949e9-6402-4ad2-b899)'2020.1.105'</refName><name></name><number>2020.1.105</number><documentType>CollectionObject</documentType></object></relation-list-item></rel:relations-common-list>
  recorded_at: Sat, 18 Mar 2023 00:46:23 GMT
recorded_with: VCR 6.1.0
