---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/collectionobjects?as=collectionobjects_common:objectNumber%20=%20%272020.1.107%20TEST%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|objectNumber|objectName|title|responsibleDepartment</fieldsReturned><list-item><csid>22706401-8328-4778-86fa</csid><uri>/collectionobjects/22706401-8328-4778-86fa</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(22706401-8328-4778-86fa)'2020.1.107
        TEST'</refName><updatedAt>2021-06-30T03:29:43.067Z</updatedAt><workflowState>project</workflowState><objectNumber>2020.1.107
        TEST</objectNumber></list-item></ns2:abstract-common-list>
  recorded_at: Sat, 18 Mar 2023 00:39:17 GMT
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/movements?as=movements_common:movementReferenceNumber%20=%20%27LOC2020.1.24%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|locationDate|movementReferenceNumber|currentLocation</fieldsReturned><list-item><csid>8e74756f-38f5-4dee-90d4</csid><uri>/movements/8e74756f-38f5-4dee-90d4</uri><refName>urn:cspace:core.collectionspace.org:movements:id(8e74756f-38f5-4dee-90d4)</refName><updatedAt>2021-03-02T23:34:05.108Z</updatedAt><workflowState>locked</workflowState><movementReferenceNumber>LOC2020.1.24</movementReferenceNumber><currentLocation>urn:cspace:core.collectionspace.org:locationauthorities:name(location):item:name(Test_MST11303466058)'Test_MST:1'</currentLocation></list-item></ns2:abstract-common-list>
  recorded_at: Sat, 18 Mar 2023 00:39:18 GMT
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/relations?obj=8e74756f-38f5-4dee-90d4&pgSz=25&prd=affects&sbj=22706401-8328-4778-86fa&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><rel:relations-common-list
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rel="http://collectionspace.org/services/relation"
        xmlns:ns4="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>0</itemsInPage><totalItems>0</totalItems><fieldsReturned>subjectCsid|relationshipType|predicateDisplayName|relationshipMetaType|objectCsid|uri|csid|subject|object</fieldsReturned></rel:relations-common-list>
  recorded_at: Sat, 18 Mar 2023 00:39:18 GMT
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/relations?obj=22706401-8328-4778-86fa&pgSz=25&prd=affects&sbj=8e74756f-38f5-4dee-90d4&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><rel:relations-common-list
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rel="http://collectionspace.org/services/relation"
        xmlns:ns4="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>0</itemsInPage><totalItems>0</totalItems><fieldsReturned>subjectCsid|relationshipType|predicateDisplayName|relationshipMetaType|objectCsid|uri|csid|subject|object</fieldsReturned></rel:relations-common-list>
  recorded_at: Sat, 18 Mar 2023 00:39:18 GMT
recorded_with: VCR 6.1.0
