---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/conservation?as=conservation_common:conservationNumber%20=%20%27CT2020.7%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|conservationNumber|status</fieldsReturned><list-item><csid>b3ce795d-1fdc-4971-b12a</csid><uri>/conservation/b3ce795d-1fdc-4971-b12a</uri><refName>urn:cspace:core.collectionspace.org:conservation:id(b3ce795d-1fdc-4971-b12a)</refName><updatedAt>2020-09-08T19:56:17.408Z</updatedAt><workflowState>project</workflowState><conservationNumber>CT2020.7</conservationNumber><status>urn:cspace:core.collectionspace.org:vocabularies:name(conservationstatus):item:name(analysiscomplete)'Analysis
        complete'</status></list-item></ns2:abstract-common-list>
  recorded_at: Sat, 18 Mar 2023 00:53:21 GMT
recorded_with: VCR 6.1.0
