---
http_interactions:
- request:
    method: get
    uri: https://anthro.dev.collectionspace.org/cspace-services/structureddates?displayDate=march%202020&pgSz=25&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AYW50aHJvLmNvbGxlY3Rpb25zcGFjZS5vcmc6QWRtaW5pc3RyYXRvcg==
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:structureddate_common
        xmlns:ns2="http://collectionspace.org/services/structureddate"><dateDisplayDate>march
        2020</dateDisplayDate><dateEarliestSingleYear>2020</dateEarliestSingleYear><dateEarliestSingleMonth>3</dateEarliestSingleMonth><dateEarliestSingleDay>1</dateEarliestSingleDay><dateEarliestSingleEra>urn:cspace:anthro.collectionspace.org:vocabularies:name(dateera):item:name(ce)'CE'</dateEarliestSingleEra><dateLatestYear>2020</dateLatestYear><dateLatestMonth>3</dateLatestMonth><dateLatestDay>31</dateLatestDay><dateLatestEra>urn:cspace:anthro.collectionspace.org:vocabularies:name(dateera):item:name(ce)'CE'</dateLatestEra><dateEarliestScalarValue>2020-03-01</dateEarliestScalarValue><dateLatestScalarValue>2020-04-01</dateLatestScalarValue><scalarValuesComputed>true</scalarValuesComputed></ns2:structureddate_common>
  recorded_at: Mon, 20 Mar 2023 17:47:15 GMT
recorded_with: VCR 6.1.0
