---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/conceptauthorities/urn:cspace:name(concept)/items?as=concepts_common:conceptTermGroupList/0/termDisplayName%20=%20%27QA%20TEST%20Concept%202%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|rev|shortIdentifier|sas|proposed|deprecated|termStatus|termDisplayName</fieldsReturned><list-item><csid>8a76c4d7-d66d-451c-abee</csid><uri>/conceptauthorities/7022dcc2-2f66-4cb8-b768/items/8a76c4d7-d66d-451c-abee</uri><refName>urn:cspace:core.collectionspace.org:conceptauthorities:name(concept):item:name(QATESTConcept21583850722125)'QA
        TEST Concept 2'</refName><updatedAt>2020-03-10T21:32:02.125Z</updatedAt><workflowState>project</workflowState><rev>0</rev><shortIdentifier>QATESTConcept21583850722125</shortIdentifier><sas>false</sas><proposed>true</proposed><termDisplayName>QA
        TEST Concept 2</termDisplayName></list-item></ns2:abstract-common-list>
  recorded_at: Mon, 20 Mar 2023 17:54:17 GMT
recorded_with: VCR 6.1.0
