---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/vocabularies?pgNum=0&pgSz=1&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>1</pageSize><itemsInPage>1</itemsInPage><totalItems>145</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|rev|shortIdentifier|sas|displayName|vocabType</fieldsReturned><list-item><csid>4ab7dd14-2a1b-495a-8cda</csid><uri>/vocabularies/4ab7dd14-2a1b-495a-8cda</uri><refName>urn:cspace:core.collectionspace.org:vocabularies:name(acousticalproperties)'Acoustical
        Properties'</refName><updatedAt>2020-02-08T03:30:56.615Z</updatedAt><workflowState>project</workflowState><rev>6</rev><shortIdentifier>acousticalproperties</shortIdentifier><displayName>Acoustical
        Properties</displayName><vocabType>enum</vocabType></list-item></ns2:abstract-common-list>
  recorded_at: Mon, 20 Mar 2023 17:38:22 GMT
[...]
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/personauthorities?pgNum=0&pgSz=1&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>1</pageSize><itemsInPage>1</itemsInPage><totalItems>2</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|rev|shortIdentifier|sas|displayName|vocabType</fieldsReturned><list-item><csid>0f6cddfa-32ce-4c25-9b2f</csid><uri>/personauthorities/0f6cddfa-32ce-4c25-9b2f</uri><refName>urn:cspace:core.collectionspace.org:personauthorities:name(person)'Local
        Persons'</refName><updatedAt>2020-02-08T03:31:20.492Z</updatedAt><workflowState>project</workflowState><rev>1117</rev><shortIdentifier>person</shortIdentifier><displayName>Local
        Persons</displayName><vocabType>PersonAuthority</vocabType></list-item></ns2:abstract-common-list>
  recorded_at: Mon, 20 Mar 2023 17:38:24 GMT
- request:
    method: post
    uri: https://core.dev.collectionspace.org/cspace-services/vocabularies/e1401111-05c2-4d6c-bdc5/items?pgSz=25&wf_deleted=false
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8" standalone="yes"?>
        <document name="vocabularyitems">
            <ns2:vocabularyitems_common
               xmlns:ns2="http://collectionspace.org/services/vocabulary"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
               <inAuthority>e1401111-05c2-4d6c-bdc5</inAuthority>
               <displayName>nomenclature</displayName>
               <shortIdentifier>nomenclature</shortIdentifier>
               <refName>
                 urn:cspace:core.collectionspace.org:vocabularies:name(annotationtype):item:name(nomenclature)'nomenclature'
               </refName>
            </ns2:vocabularyitems_common>
        </document>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 409
      message: ''
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: 'Create request failed: org.nuxeo.ecm.core.api.ConcurrentUpdateException:
        Failed to save session, Concurrent update'
  recorded_at: Mon, 20 Mar 2023 17:38:25 GMT
recorded_with: VCR 6.1.0
